<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    <ul>
        <% allSongs.forEach(function (element) { %>
            <div id="songs">
            <li><strong>Artist:</strong> <%= JSON.stringify(element.track.artists[0].name) %></li>
            <li><strong>Song:</strong> <%= JSON.stringify(element.track.name) %></li>
            <li><strong>Album:</strong> <%= JSON.stringify(element.track.album.name) %></li>
            </div>
        <% }) %>
    </ul>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
